.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

.navbarItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-family: var(--fontRegular);
}

.navbarItems a{
    color: var(--tertiaryColor);
    text-decoration: none;
}

.navbar a:hover {
    border-bottom: 3px solid var(--secondaryColor);
}

